
code.highlighter-rouge { // copied from css in https://int3ractive.com/2019/01/common-linux-macos-commands.html
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
  